body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121213;
    color: white;
}

h1 {
    color: white;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.letter-box {
    width: 50px;
    height: 50px;
    border: 2px solid #3a3a3c;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    background-color: #3a3a3c;
    color: white;
}

.correct {
    background-color: #538d4e; /* Verde para letras corretas */
    color: white;
}

.present {
    background-color: #b59f3b; /* Amarelo para letras presentes em outro lugar */
    color: white;
}

.absent {
    background-color: #3a3a3c; /* Cinza para letras ausentes */
    color: white;
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

#input-container {
    margin-top: 20px;
}

#guess-input {
    width: 150px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

#submit-button {
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 10px;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: left;
    margin: auto;
    color: black;
}

.close-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}


#keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.key {
    width: 40px;
    height: 60px;
    margin: 0 5px;
    border: none;
    background-color: #3a3a3c;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.key.correct {
    background-color: #538d4e;
    color: white;
}

.key.present {
    background-color: #b59f3b;
    color: white;
}

.key.absent {
    background-color: #3a3a3c;
    color: white;
}

.key.disabled {
    pointer-events: none;
}
.active {
    border: 2px solid white;
}
.logo {
    width: 250px;
    height: 150px;
}